img{
    width: 400px;
    
    opacity: 1;
}

#projectcard{
background-color:#BABCBF;
opacity: .95;
border-color: #F2F2F2;
/* padding-right: 15px;
padding-left: 15px; */
position: flex;

/* border-width: 2px; */
}