img{
    width: 400px;
    
    opacity: 1;
}

#projectcard{
background-color: black;
opacity: .95;
margin: 5px;
border-color: #F2F2F2;
/* padding-right: 15px;
padding-left: 15px; */
color: white;
float: left;

/* border-width: 2px; */
}